<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <title>首頁</title>
  <%- include('./layout/meta') -%>
  <%- include('./layout/font') -%>
</head>

<body>
  <div class="container">
    <div class="row">  
      <%- include('./layout/header'); -%>

    </div>
  </div>
  <section class="banner">
    <div class="swiper heroSwiper h-100">
      <div class="swiper-wrapper h-100">
        <div class="swiper-slide">
          <img src="../assets/images/hero1-lg.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../assets/images/hero2.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../assets/images/hero3.png" alt="">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
  <div class="eat-img h-280">
    <img class="pt-s-5 float-end" src="../assets/images/logomark & text.png" alt="">
  </div>
  <section class="special pb-s-37 bg-secondary-light">
    <div class="container position-relative">
      <img class="w-349 position-absolute top-0 start-0 translate-middle-y mb-lg-s-10" src="../assets/images/title-eat 起來.png" alt="">
      <div class="row position-relative pt-s-30 mb-lg-s-20">
        <h3 class="text-center"><span class="line h1">特</span><span class="line h1">製</span><span class="line h1">餐</span><span class="line h1">點</span></h3>
      </div>
      <div class="h-407 d-flex align-items-center">
        <div class="swiper specialSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card bg-transparent border-0">
                <img src="../assets/images/bento 1.png" class="card-img-top" alt="...">
                <div class="card-body text-start pt-s-5 pb-s-2">
                  <h5 class="h4 mb-4">雞肉機器雞胸肉燕麥餐</h5>
                  <p class="h5 text-primary mb-2">NT$ 230 </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card bg-transparent border-0">
                <img src="../assets/images/bento 2.png" class="card-img-top" alt="...">
                <div class="card-body text-start pt-s-5 pb-s-2">
                  <h5 class="h4 mb-4">力量泉源牛肉糙米餐</h5>
                  <p class="h5 text-primary mb-2">NT$ 240 </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card bg-transparent border-0">
                <img src="../assets/images/bento 3.png" class="card-img-top" alt="...">
                <div class="card-body text-start pt-s-5 pb-s-2">
                  <h5 class="h4 mb-4">活力充沛豬柳燕麥</h5>
                  <p class="h5 text-primary mb-2">NT$ 250 </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card bg-transparent border-0">
                <img src="../assets/images/bento 4.png" class="card-img-top" alt="...">
                <div class="card-body text-start pt-s-5 pb-s-2">
                  <h5 class="h4 mb-4">堅韌鬥士烤雞全穀餐</h5>
                  <p class="h5 text-primary mb-2">NT$ 230 </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card bg-transparent border-0">
                <img src="../assets/images/bento 1.png" class="card-img-top" alt="...">
                <div class="card-body text-start pt-s-5 pb-s-2">
                  <h5 class="h4 mb-4">雞肉機器雞胸肉燕麥餐</h5>
                  <p class="h5 text-primary mb-2">NT$ 230 </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card bg-transparent border-0">
                <img src="../assets/images/bento 2.png" class="card-img-top" alt="...">
                <div class="card-body text-start pt-s-5 pb-s-2">
                  <h5 class="h4 mb-4">力量泉源牛肉糙米餐</h5>
                  <p class="h5 text-primary mb-2">NT$ 240 </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
    <div class="text-center mt-s-15">
      <a href="" class="btn py-s-8 px-s-20 btn-primary h4 rounded-3 text-white">訂起來</a>
    </div>
  </section>
  <section class="scroll-animate-group overflow-hidden">
    <div class="scroll-animate position-relative">
      <img src="../assets/images/blob image1.png" alt="">
      <img src="../assets/images/blob image2.png" alt="">
      <img src="../assets/images/blob image3.png" alt="">
      <img src="../assets/images/blob color1.png" alt="">
      <img src="../assets/images/blob color2.png" alt="">
      <img src="../assets/images/blob color3.png" alt="">
      <img src="../assets/images/plant1.png" alt="">
      <img src="../assets/images/plant2.png" alt="">
      <img src="../assets/images/plant3.png" alt="">
      <img src="../assets/images/line 1.png" alt="">
      <img src="../assets/images/line 2.png" alt="">
    </div>
  </section>
  <section class="buy-together bg-black-200">
    <div class="container position-relative">
      <img class="w-349 position-absolute top-0 start-0 translate-middle-y mb-lg-s-10"
        src="../assets/images/title-buy 起來.png" alt="">
      <div class="row position-relative pt-s-30 mb-lg-s-20">
        <h3 class="text-center"><span class="line h1">健</span><span class="line h1">康</span><span
          class="line h1">超</span><span class="line h1">市</span></h3>
      </div>
      <div class="h-407 d-flex align-items-center">
        <div class="swiper buySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card bg-transparent border-0">
                <img src="../assets/images/super market1.png" class="card-img-top" alt="...">
                <div class="card-body text-start pt-s-5 pb-s-2">
                  <h5 class="h4 mb-4">肌力餐體驗組</h5>
                  <p class="h5 text-primary mb-2">NT$ 950 </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card bg-transparent border-0">
                <img src="../assets/images/super market2.png" class="card-img-top" alt="...">
                <div class="card-body text-start pt-s-5 pb-s-2">
                  <h5 class="h4 mb-4">素食植物蛋白組</h5>
                  <p class="h5 text-primary mb-2">NT$ 950 </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card bg-transparent border-0">
                <img src="../assets/images/super market4.png" class="card-img-top" alt="...">
                <div class="card-body text-start pt-s-5 pb-s-2">
                  <h5 class="h4 mb-4">減脂餐體驗組</h5>
                  <p class="h5 text-primary mb-2">NT$ 950 </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card bg-transparent border-0">
                <img src="../assets/images/super market3.png" class="card-img-top" alt="...">
                <div class="card-body text-start pt-s-5 pb-s-2">
                  <h5 class="h4 mb-4">減脂餐體驗組</h5>
                  <p class="h5 text-primary mb-2">NT$ 230 </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card bg-transparent border-0">
                <img src="../assets/images/super market1.png" class="card-img-top" alt="...">
                <div class="card-body text-start pt-s-5 pb-s-2">
                  <h5 class="h4 mb-4">肌力餐體驗組</h5>
                  <p class="h5 text-primary mb-2">NT$ 950 </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card bg-transparent border-0">
                <img src="../assets/images/super market2.png" class="card-img-top" alt="...">
                <div class="card-body text-start pt-s-5 pb-s-2">
                  <h5 class="h4 mb-4">素食植物蛋白組</h5>
                  <p class="h5 text-primary mb-2">NT$ 950 </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buy-swiper-button-next"></div>
        <div class="buy-swiper-button-prev"></div>
      </div>
      <div class="text-center mt-s-15">
        <a href="" class="btn py-s-8 px-s-20 btn-primary h4 rounded-3 text-white">訂起來</a>
      </div>
    </div>
  </section>


  <script type="module" src="../main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper(".heroSwiper", {
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });

    var swiper2 = new Swiper(".specialSwiper", {
        slidesPerView: 4, // 一次顯示 4 個幻燈片
        slidesPerGroup: 1, // 每次移動 1 個幻燈片
        spaceBetween: 24, // 幻燈片之間的空間
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        
      });
    var swiper3 = new Swiper(".buySwiper", {
        slidesPerView: 4, // 一次顯示 4 個幻燈片
        slidesPerGroup: 1, // 每次移動 1 個幻燈片
        spaceBetween: 24, // 幻燈片之間的空間
        navigation: {
          nextEl: ".buy-swiper-button-next",
          prevEl: ".buy-swiper-button-prev",
        },
        
      });
  </script>
</body>

</html>